@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-size: 18px;
	line-height: 1.5;
}

p {
  margin: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
}